  <div class="mb-8 flex justify-center">
      <h1 class="text-3xl font-bold text-blue-600">lista de tasks</h1>
  </div>
  <div class="max-w-3xl mx-auto px-4 py-8 bg-gray-500 rounded-xl">
  <div class="flex items-center justify-between mb-6">
    <h1 class="text-2xl font-bold ">Minhas Tasks</h1>
    <%= link_to "Nova task", new_task_path,
        class: "bg-blue-600 hover:bg-blue-700 text-white font-medium px-4 py-2 rounded-lg transition" %>
  </div>

  <% if notice %>
    <div class="bg-green-50 text-green-800 px-4 py-3 rounded-lg mb-4 text-sm">
      <%= notice %>
    </div>
  <% end %>

  <div class="bg-white rounded-xl shadow-sm border border-gray-200 divide-y divide-gray-100">
    <% @tasks.each do |task| %>
      <div class="flex items-center justify-between p-4">
        <div>
          <p class="font-medium text-gray-900"><%= task.title %></p>
          <p class="text-sm text-gray-500"><%= task.user.name%></p>
        </div>
        <div class="flex items-center gap-3 text-sm">
          <%= link_to "Ver", task_path(task), class: "text-blue-600 hover:underline" %>
          <%= link_to "Editar", edit_task_path(task), class: "text-gray-600 hover:underline" %>
          <%= button_to "Excluir", task_path(task), method: :delete,
              form: { data: { turbo_confirm: "Tem certeza?" } },
              class: "text-red-600 hover:underline" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
